# /etc/dnf/automatic.conf

[commands]
upgrade_type = default
random_sleep = 0
network_online_timeout = 60
download_updates = yes
apply_updates = yes

[emitters]
system_name = {{ansible_hostname}}.{{ansible_domain}}
emit_via = email

[email]
email_from = root@{{ansible_hostname}}.{{ansible_domain}}
email_to = {{mail_root}}
email_host = localhost
